<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#about">About</a></li>
    <li><a ng-href="#contact">Contact</a></li>
    <li><a ng-href="#ui">UI</a></li>
  </ul>
  <h3 class="text-muted">SSD2-TEST</h3>
</div>

<div class="jumbotron">
  <h1>Welcome to SSD2</h1>
</div>

<div>
  <div class="text-center"><h1>About Page</h1></div>
  <p>The Authors are:
    <ul>
      <li ng-repeat='value in message'>{{value}}</li>
    </ul>
  </p>
</div>

<div class="footer">
  <p>♥ from the Swinburne team</p>
</div>