<div>
	<div><p><b>Current Selection: <br></b>
	{{currentSelection.label}}<br></p></div>
	
	
	<div>
		<b> Node Options </b>

	    <div ng-repeat="nodeOption in nodeOptions" ng:click="selectPaletteOption(nodeOption)">
	      <img src={{nodeOption.icon}} width="120" height="120">
	      <p>{{nodeOption.label}} </p>
	    </div>
	</div>

	<div>
		<b> Link Options </b>

	    <div ng-repeat="linkOption in linkOptions" ng:click="selectPaletteOption(linkOption)">
	    	<img src={{linkOption.icon}} width="120" height="120">
	      <p>{{linkOption.label}} </p>
	    </div>
	</div>
</div>
